
<h1 class="is-size-2 has-text-weight-bold mb-3 has-text-centered">New Entry</h1>
<div class="columns is-centered mt-6">
<div class="columns is-one-third">


<%= render 'form', entry: @entry %>

</div>

</div>